/* Дополнительные стили сайта (помимо самого бутстрапа) */

/* Стили для body and внешнего контейнера */
	 
body {
  margin: 0 !important;
  color: #333 !important;
  background-color: #00a0b0 !important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
  line-height: 1.5em !important;
}

#container {
  width: 960px !important;
  background: #fff !important;
  margin: 20px auto !important;
  padding: 20px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  min-height: calc(100vh - 200px) !important; /* Adjust 200px based on header and footer height */
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

#page-container {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}


#footer {
 border-top: 1px solid #00a0b0;
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
  margin-top: auto !important;
}

/* Логотип и нижний колонтитул */

#logo {
  display: block;
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  border: none;
}

.loader-identity {
    display : none;
    float : right;
}


/* Заголвки */

h1 {
  color: #eb6841 !important;
  margin-bottom: 30px !important;
  line-height: 1.2em !important;
}

h2 {
  color: #edc951 !important;
}

h2 a {
  color: #edc951;
  text-decoration: none;
}


h3.categoryDescription {
  margin-top: -20px;
  margin-bottom: 40px;
}


/* Заголовки статей */

#headlines {
  list-style: none !important;
  padding-left: 0 !important;
  width: 75% !important;
}

/* Specific article content styling - targets the content area where articles appear */
.content h1,
.content h1[style*="width: 75%"] {
  width: 75% !important;
 color: #eb6841 !important;
  margin-bottom: 30px !important;
  line-height: 1.2em !important;
}

.content div[style*="width: 75%"],
.content > div {
  width: 75% !important;
}

.content div[style*="font-style: italic"],
.content .summary {
  width: 75% !important;
 font-style: italic !important;
}

.content .pubDate {
  width: 75% !important;
 font-size: .8em !important;
  color: #eb6841 !important;
  text-transform: uppercase !important;
}

/* General content area styling */
.content {
  width: 100% !important;
}

#headlines li {
  margin-bottom: 2em;
}

.pubDate {
  font-size: .8em !important;
  color: #eb6841 !important;
  text-transform: uppercase !important;
}

#headlines .pubDate {
  display: inline-block;
  width: 100px;
  font-size: .5em;
  vertical-align: middle;
}

#headlines.archive .pubDate {
  width: 130px;
}

.summary {
  padding-left: 100px !important;
}

#headlines.archive .summary {
  padding-left: 130px;
}

.category {
  font-style: italic !important;
  font-weight: normal !important;
  font-size: 80% !important;
  color: #999 !important;
  display: block !important;
  line-height: 1.5em !important;
  margin-left: 10px !important;
}

.category a {
  color: #999;
  text-decoration: underline;
}

.subcategory {
  font-style: italic !important;
 font-weight: normal !important;
  font-size: 70% !important;
  color: #aaa !important;
  display: block !important;
  line-height: 1.5em !important;
  margin-left: 10px !important;
}

.subcategory a {
  color: #aaa;
  text-decoration: underline;
}

.showContent {
    font-size : 14px;
    float : right;
}

/* Заголовок для страницы администратора */

#adminHeader {
  width: 940px;
  padding: 0 10px;
  border-bottom: 1px solid #00a0b0;
  margin: -30px 0 40px 0;
  font-size: 0.8em;
}


/* Стили для формы с цветным фоном, скругленными углами и тенью */

form {
  margin: 20px auto;
  padding: 40px 20px;
  overflow: auto;
  background: #fff4cf;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}


/* Задаем для элементов формы согласованные поля, отступы, и высоту строки */

form ul {
 list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .9em 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}


/* Метки полей */

label {
  display: block;
  float: left;
 clear: left;
 text-align: right;
  width: 15%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
}


/* Поля */

input, select, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 80%;
}

input, textarea, .date {
  border: 2px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

input {
  font-size: .9em;
}

select {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
 position: relative;
 top: .7em;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 5em;
  line-height: 1.5em;
}

textarea#content {
  font-family: "Courier New", courier, fixed;
}


/* Рамка вокруг поля с фокусом ввода */

form *:focus {
  border: 2px solid #7c412b;
  outline: none;
}


/* Правильно заполненное поле имеет зеленый фон */

input:valid, textarea:valid {
  background: #efe;
}


/* Кнопки отправки */

.buttons {
  text-align: center;
  margin: 40px 0 0 0;
}

input[type="submit"] {
  display: inline;
  margin: 0 20px;
  width: 12em;
  padding: 10px;
  border: 2px solid #7c412b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #ef7d50;
  font-weight: bold;
  -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #fff;
  color: #ef7d50;
}

input[type="submit"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}


/* Таблицы */

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}

table, th {
  border: 1px solid #00a0b0;
}

th {
  border-left: none;
  border-right: none;
  background: #ef7d50;
  color: #fff;
  cursor: default;
}

tr:nth-child(odd) {
  background: #fff4cf;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: #ddd;
  cursor: pointer;
}


/* Окна для вывода статуса и сообщений об ошибках */

.statusMessage, .errorMessage {
  font-size: .8em;
  padding: .5em;
  margin: 2em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, .8);
}

.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}

.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}

ul.ajax-load {
    margin-left:  0px;
    padding-left: 10px;
}
ul.ajax-load li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    font-size: 12px;
}
